.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer--section {
    padding-top: 63px;
    padding-bottom: 49px;
    background: 
        url("../images/element1.svg"),
        linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    background-repeat: no-repeat;
    background-position: 
        -18px 74px,
        0px;
}

.footer__nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.footer__nav ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.footer__nav--item {
    margin-left: 179px;
}

.footer__nav--item a:hover {
    color: black;
}

@media screen and (max-width: 958px) {
    .footer__nav--item {
        margin-left: 100px
    }
}

@media screen and (max-width: 768px) {
    .footer__nav ul {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .footer__nav--item {
        margin: 10px 0;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer--section {
        padding-top: 0;
    }
}