body {
    font-family: 'Roboto', "Arial", sans-serif;
    font-size: larger;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0px 40px;
    }
}

@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    :root {
        font-size: 12px;
    }
}

li {
    display: block;
}

.button {
    text-decoration: none;
    width: 200px;
    height: 23px;
    text-align: center;
    padding: 15px 0px;
    border-width: 2px;
    border-radius: 30px;
    border-color: #458FF6;
    color: #458FF6;
    background-color: #ffffff;
    border-style: solid;
    display: block;
    font-weight: 500;
}

.button:hover {
    
    animation-name: button_color;
    animation-duration: 500ms;
    background-color: #458FF6;
    color: #ffffff;
}

h1 {
    color: black;
    font-size: 2.5rem;
    font-weight: 500;
}

h3 {
    color: black;
    font-weight: 500;
}

p {
    font-size: 1rem;
    font-weight: 300;
    color: #7D7987;
    margin-top: 30px;
    line-height: 1.7;
}

hr {
    width: 56px;
    height: 2px;
    background-color: black;
    border: 0px;
    border-radius: 2px;
}

.logo:hover {
    animation-name: logo_zoom;
    animation-duration: 1s;
}