.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.header__menu {
    display: none;
}

.header__nav ul {
    display: flex;
    padding-left: 0px;
}

.header__nav--item {
    opacity: 50%;
    margin-right: 42.62px;
}

.header__nav--item:hover {
    opacity: 100%;
}

.header__nav .home {
    opacity: 100%;
    font-weight: 500;
}

.header__nav a {
    text-decoration: none;
    color: #1F1534;
}

@media screen and (max-width: 768px) {
    .header {
        position: fixed;
        margin: 0px;
        top: 0;
        left: 0;
        right: 0;
        padding: 20px;
        background-color: white;
        z-index: 10;
    }

    .header__menu {
        display: block;
    }

    .header__nav {
        background: #e7ecff;
        position: fixed;
        top: 72px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 0;
        clip-path: circle(0 at top left);
        transition: clip-path 0.9s ease-in;
    }
    
    .header__nav.open {
        clip-path: circle(1000px at top);
    }

    .header__nav ul {
        flex-direction: column;
        height: 100%;
    }

    .header__nav--item {
        flex: 1;
        padding-top: 5vh;
        margin-right: 0;
    }

    .header__nav a {
        font-weight: 500;
        display: block;
        font-size: 2em;
    }
}
