.hero__container {
    margin-top: 175px;
    padding: 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: 
        url("../images/image1.png"),
        url("../images/element1.svg");
    background-repeat: no-repeat;
    background-position: 
        right 0,
        right 350px;
}

.hero__line {
    margin: 0px;
}

.hero__inner {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.hero__element {
    position: relative;
    top: 230px;
    left: -60px;
}

.hero__image {
    margin-left: 100px;
}

.hero__button {
    margin-top: 50px;
}

@media screen and (max-width: 969px) {
    .hero__container {
        background-image: none;
    }
}

@media screen and (max-width: 768px) {
    .hero__inner {
        max-width: none;
        align-items: center;
    }
}