.customer__block {
    background: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 25px;
    padding-top: 75px;
    padding-bottom: 92px;
}

.customer {
    background-color: #F3F8FE;
    padding-top: 140px;
    padding-bottom: 146px;
    margin-top: 143px;
}

.customer__name h3,
.customer__name p {
    color: white;
    margin: 12px;
}

.customer__name {
    margin: auto 0px;
}

.customer__title {
    text-align: center;
    color: white;
    /* padding-top: 75px; */
    margin-bottom: 26px;
}

.customer__line {
    background-color: white;
    margin: 0 auto;
}

.customer__info {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer__review {
    margin: auto 0px;
    margin-left: 112px;
    font-size: 19px;
    max-width: 390px;
    color: white;
}

.customer__avatar {
    margin: auto 0px;
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    border-radius: 50%;
    margin-right: 30px;
}

.customer__avatar img {
    width: 200%;
    height: auto;
    margin-left: -55px;
    margin-top: -75px;
}

.customer__slider {
    display: flex;
    max-width: 310px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 47px;
}

.slider__dots {
    width: 94px;
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    align-items: center;
}

.slider__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 50%;
    background-color: #4089ED;
    /* margin: auto 0px; */
}

.slider__dot__current {
    opacity: 100%;
}

@media screen and (max-width: 954px) {
    .customer__review {
        margin-left: 0;
    }
    
    .customer__info {
        flex-direction: column-reverse;
        padding: 0 20px;
    }

    .customer__name {
        margin-top: 20px;
    }

    .customer__avatar {
        margin-right: 0;
    }

    .customer__review {
        font-size: 0.9rem;
    }
}